body {
  margin: 20px;
  padding: 20px;
}

@font-face {
  font-family: 'BrandonText-Regular';
  src: local('brandontext-regular'), url(./fonts/brandontext-regular.woff) format('woff');
}

@font-face {
  font-family: 'BrandonText-Bold';
  src: local('brandontext-bold'), url(./fonts/brandontext-bold.woff) format('woff');
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  font-family: BrandonText-Regular, sans-serif;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

p {
  font-family: 'BrandonText-Regular';
  font-size: 20px;
  color: #4A4A4A;
}

h1 {
  font-family: 'BrandonText-Bold';
  font-size: 40px;
  color: #4A4A4A;
}

.signupFormLabels{
  margin-bottom: 10px;
}

.signupFormLabels label {
  margin-right: 10px;
}

.signupFormLabels input {
  padding: 5px 30px 5px 3px;
}

.roosTitle {
  margin-bottom: 30px;
}

.signupButton {
  margin-top: 20px;
  padding: 13px 25px;
  border-radius: 5px;
  font-size: 14px;
  /* font-weight: bold; */
  text-transform: uppercase;
  background: linear-gradient(#e84435, #f57f17);
  color: white;
  border: none;
}

.signupButton:hover{
  background: #e84435;
}